.tags {
    flex-direction: row;
    margin: 0;
    padding: .5em 0;
    list-style: none;
    font-size: _font(kerning-alt)*3.1;
}
.tag {
    padding: .35em;
    border-radius: _size(border-radius);
    border: 1px solid _palette(border);
    &:nth-child(2){
        margin-left: .5em;
    }
}